.main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.save-selection-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

label, input {
    display: block;
}

.run-button {
    display:inline-block;
    padding:0.46em 1.6em;
    border:0.1em solid #000000;
    margin:0 0.2em 0.2em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    /* font-family:'Roboto',sans-serif; */
    font-weight:300;
    background-color:rgb(43, 212, 66);
    text-align:center;
    transition: all 0.15s;
}

.run-button:hover{
    background-color:rgb(54, 255, 81);
}

.run-button:disabled{
    background-color:rgb(66, 66, 66);
}